* {
  font-family: 'PT Sans';
}

.navbar-default {
    padding: 10px;
}

body > .jumbotron {
    margin-top: -20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 40px;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.footer .container p {
    margin: 0;
}

.navbar-brand {
    height: 80px;
}

.navbar-toggle {
    margin-top: 25px;
}

#logo {
    height: 100%;
}

#members h3 {
    margin-bottom: 0;
}

.icons svg {
    fill: #303030;
    margin-bottom: -.2em;
    width: 1.4em;
    height: 1.4em;
}

.icons a svg {
    fill: #666;
}

.icons a:hover svg {
    fill: #333;
}

.icons .icons-twitter a:hover svg {
    fill: #1da1f2 !important;
}

.jumbotron, #who-we-are, #about-our-experience {
    background-color: #000;
    color: #fff;
}

#who-we-are, #about-our-experience, #why-arsenic, .jumbotron {
    margin: 0;
    padding: 10px;
}

#who-we-are {
    background: url('/images/week-4.jpg') no-repeat center center;
    background-size: cover;
}

#about-our-experience {
    background: url('/images/armtree.jpg') no-repeat center center;
    background-size: cover;
}

#who-we-are .icons a svg {
    fill: #fff;
}

#who-we-are .icons a:hover svg {
    fill: #ccc;
}

.grid-item, .grid-sizer {
    width: 100%;
}

.pager .pull-left, .pager .pull-right {
    width: 40%;
}

@media (min-width: 768px) {
    .grid-item, .grid-sizer {
        width: 32.33333%;
        margin: 0 0.5%;
    }
    
    .navbar-default {
        padding: 20px;
    }
    
    .navbar-nav {
        padding-top: 15px;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    
    .navbar-nav a {
        color: #000;
    }
    
    #members {
        width: 80%;
        margin: 0 auto;    
    }

    #who-we-are, #about-our-experience, #why-arsenic, .jumbotron {
        padding: 50px;
    }
}